<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>W07 Guestbook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
</head>

<body class="container">
    <h1>
        Express Guestbook
        <a href="/new-entry" class="btn btn-success float-right" style="margin-top:10px">
            Write in the guestbook
        </a>
    </h1>
    