<% include header %>
    <% if (entries.length) { %>
        <% entries.forEach(function(entry) { %>
            <div class="card">
                <div class="card-header">
                    <div class="text-muted float-right">
                        <%= entry.published %>
                    </div>
                    <%= entry.title %>
                </div>
                <div class="card-block">
                    <p class="card-text"><%= entry.content %></p>
                </div>
            </div>

            <% }) %>
                <% } else { %>
                    No entries!
                    <a href="/new-entry">Add one!</a>
                    <% } %>
                        <% include footer %>