<% include header %>
    <h2>Write a new entry</h2>
        <div class="card">
            <div class="card-block">
                    <form method="post" role="form">
                        <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Entry title" required>
                            </div>
                    
                            <div class="form-group">
                                <label for="content">Entry text</label>
                                <textarea class="form-control" id="body" name="body" placeholder="Love Express! It’s a great tool for
                    building websites." rows="3" required></textarea>
                            </div>
                    
                            <div class="form-group">
                                <input type="submit" value="Post entry" class="btn btn-primary">
                            </div>
                        </form>
            </div>
        </div>
    <% include footer %>